/backend/vendor/
/backend/storage/logs/*
/backend/storage/cache/*
/backend/storage/sessions/*
/frontend/uploads/products/*
/frontend/uploads/avatars/*
/frontend/uploads/payments/*
!/backend/storage/logs/.gitkeep
!/backend/storage/cache/.gitkeep
!/backend/storage/sessions/.gitkeep
!/frontend/uploads/products/.gitkeep
!/frontend/uploads/avatars/.gitkeep
!/frontend/uploads/payments/.gitkeep
.env
*.log
.DS_Store
Thumbs.db
backend/vendor/
backend/.phpunit.result.cache